<!DOCTYPE html>
<html>
  <head>
    <%- include _head.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body class="container">
    <!-- http://getbootstrap.com/components/#navbar -->
    <nav class="navbar navbar-primary">
      <div class="container-fluid">
        <div class="navbar-header">
          Really Cool Blog
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-8">
        <form id="search_form" action="/posts" method="get">
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Search Post by Title" />
        </form>
      </div>
      <div class="col-md-4">
        <a
          href="/posts/new"
          class="btn btn-primary btn-md">Create a Post</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Posts</h1>
        <table class="table">
          <tbody>
            <thead>
              <tr>
                <td>ID</td>
                <td>Author</td>
                <td>Tags1</td>
                <td>Tags2</td>
                <td>Title</td>
                <td>Body</td>
                <td>Date</td>

              </tr>
            </thead id="posts_table">
            <% posts.forEach(function(post) { %>
              <tr>
                <td><%= post.id %></td>
                <td><%= post.user.firstName %> <%= post.user.lastName %></td>
                <!-- tags for this post -->
                <td><%= post.tags.map(function(tag) { return tag.title; }).join(', ') %></td>
                <td>
                  <% post.tags.forEach(function(tag) { %>
                    <a href="/tags/<%= tag.id %>"><%= tag.title %></a>
                  <% }); %>
                </td>
                <td>
                  <a href="/posts/<%= post.id %>"><%= post.title %></a>
                </td>
                <td><%= post.body %></td>
                <td><%= post.createdAt %></td>
                <!-- <td> <button onclick="deletePost()">Delete Post</button></td> -->
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>