<!DOCTYPE html>
<html>
<head>
  <%- include _head.ejs %>
  <title>Post</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= post.title %></h1>
        <ul class="tags">
          <% post.tags.forEach(function(tag) { %>
            <li><%= tag.title %></li>
          <% }) %>
        </ul>
        <a class="btn btn-s btn-default" href="/posts/<%= post.id %>/edit">Edit Post</a>
        <div>
          <%= post.body %>
        </div>
        <section>
          <h3>Comments</h3>
          <div id="comment">
            <!-- Rendered CommentBox component goes -->
          </div>
          <% post.comments.forEach(function(comment) { %>
            <article class="comment" data-comment-id="<%= comment.id%>">
              <hr>
              <div>By <%= comment.userId %></div>
              <div>
                <%= comment.content %>
              </div>
              <!-- note: form only supports GET and POST methods -->
              <button class="delete-comment" data-comment-id="<%= comment.id%>">Delete</button>
            </article>
          <% }) %>
        </section>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="../javascripts/post.js"></script>
  <%- include _footer %>
</body>
</html>
